*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Adding CSS to body section */
body{
	margin: 0;
	padding: 0;
	overflow-y: scroll; 
 	overflow-x:hidden; /*removes unnecessary white space on right side of page*/
 	font-family: Bahnschrift SemiBold;
}

header{
	width: 100%;	
	height: 55px;
	background-color: #1E1E1E;
	overflow: none;
	position: fixed;
	top: 0;
} 

.navbar ul{
	width: 100%;
	height: auto;
	padding-top: 18px;
	list-style-type: none;
	text-align: center;
}

.navbar ul li{
	display: inline-block;
	cursor: pointer;
	transition: 0.5s;
}

.navbar ul li a{
	text-decoration: none;
	font-family:Bahnschrift SemiBold;
	font-size: 17px;
	font-weight: bold;
	color: grey;
	padding: 15px 23px;
}

.navbar ul li a:hover{
	color: white;
	padding: 15px 23px;
	border-bottom: 4px solid #fff;
	border-radius: 1px;
	transition: 0.4s;
}

.navbar ul li.active a{
	color: white;
	padding: 15px 23px;
	border-bottom: 4px solid #fff;
	border-radius: 1px;
}

.body{
	margin: 0;
    background-image: url();
    background-size: cover;
    height: 420vh;
    background-position: center;
    overflow-y: hidden; 
    overflow-x: hidden;
}

/* Begining of Grid */

.grid{
	margin-top: 5%;
	padding-left: 60px;
	padding-right: 60px;
	width: 100%;
	height: auto;
	display: grid;
	grid-gap: 60px;
	grid-template-columns: repeat(2, 1fr);
}

/* Styling each div of Grid.*/
.grid-item{
	background: rgba(255,255,255,0.5);
	padding-right: 50px;
	background-size: 100%;
}

/*Styling image of each grid item*/
.grid-item:hover {
	box-shadow: 0 0 10px 6px #000;
}


.grid-item > img{
	width: 100%;
	height: 350px;
 	padding-left:50px;
 	padding-top: 50px;
}

/*Styling h5 and p tag */
.grid-item > h5{
	color:cornflowerblue;
	font-size: 22px;
	font-family: Bahnschrift SemiBold;
	text-decoration: underline;
	margin:10px 10px 15px 10px;
   	padding-left: 20px;
}

.grid-item > p{
	width: 100%;
	height: 100%;
}


/*Adding CSS to footer section */
.footer{
	border-top: 1.5px #fff solid;
  	width: 100%;
  	height: 220px;
  	background-color: #1E1E1E;
  	overflow: none; 
}

/*styling div for adding social Media icons.*/
.icons{
	width: 100%;
	height: auto;
	padding-top: 10px;
	text-align: center;
}

/*Displaying list in a line and setting its width and height.*/
.social-icons li{
	width:auto;
  	height: 50px;
  	margin: 1.2px;
  	display: inline-block;
}

/*Styling image of the social media icons.*/
.social-icons li img {
  	width:40px;
  	height:40px;
  	border-radius: 25%;
}

/*Styling social media icons on hover.*/
.social-icons li img:hover {
	transition: 0.2s ease;
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}